<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Journal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0-beta1/css/bootstrap.css"/>
    <style>
        .gradient-custom {
/* fallback for old browsers */
background: #6a11cb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
    </style>
</head>
<body>
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

                <div class="d-grid gap-2">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                    <div class="form-group mb-3">
                      <label for="formFile" class="form-label my-3">Upload new photo</label>
                      <input required name="image" class="form-control" type="file" id="formFile">
                    </div>

                    <div class="col-auto">
                        <button type="submit" class="btn btn-outline-light btn-lg px-5 my-2">Submit</button>
                    </div>

                    </form>
                    <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="/cities">Back to city selection</a></p>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>